<div class="card" style="background-color: #44a19e">
    <img src="./assets/img/stripes_VH.png" class="card-img-top" alt="Van Halen Stripes" height="150px">
    <div class="card-header">
        <h2>Van Halen Albums</h2>
    </div>
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]='listFilter' />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Recorded at</th>
                    <th>Recorded on</th>
                    <th>Length</th>
                    <th>Producer</th>
                    <th>Succeeded By</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of filteredAlbums">
                    <td>{{album.title}}</td>
                    <td>{{album.releaseDate}}</td>
                    <td>{{album.recordedAt}}</td>
                    <td>{{album.recordedDate}}</td>
                    <td>{{album.length}}</td>
                    <td>{{album.producer}}</td>
                    <td>{{album.succeededBy}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>