body, html {
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    background-color: black;
    color: #aaaaaa;
    }

.border {
    border-style: solid;
    border-color: aqua;
}

.textCenter {
    color:aqua;
    text-align: center;
}
