<h3 class="textCenter">Robert Donovan's Web Page.</h3>

<div class="row">
    <div class="col-md-6 borderR ">
        <h4 class="textCenter">Wecome to My Office</h4>
        <p>This is where I get my work done. </p>
        <figure class="text-center">
            <img class=" img-fluid" src="./assets/img/kitty.png" />
            <figcaption class="text-center">Here is Pistol the cat or I sometimes call him the 'little monster'. He
                likes to hang out when I am working.
            </figcaption>
        </figure>
        <p>Chuckles... Here's how it can feel when working like this episode of 'I Love Lucy'</p>
        <figure class="text-center">
            <img class=" img-fluid" src="./assets/img/work-busy.gif" width="75%"  />
            <figcaption class="text-center">In case you wanted to know, I rememeber watching this as a kid.
                Lucy and Ethel go get a job in a Candy factory where they are to wrap chocolate and put them into boxes.
                When the factory increases the work load, they try and deal with it by eating some and stuffing some in
                their bras.
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6 borderL ">
        <h4 class="textCenter">And this is for Fun</h4>
        <p>After a lengthy and frustrating boat repair. </p>
        <div class="row">
            <div class=col-md-6>
                <figure class="text-center">
                    <img class=" img-fluid" src="./assets/img/finally.jpg" />
                    <figcaption class="text-center">Back out on the water.
                    </figcaption>
                </figure>
            </div>
            <div class=col-md-6>
                <figure class="text-center">
                    <img class=" img-fluid" src="./assets/img/intercoastal.png" />
                    <figcaption class="text-center">Anchored at -Todd's Island- (South part of Anclote Key).
                    </figcaption>
                </figure>
            </div>
        </div>
        <figure class="text-center">
            <img class=" img-fluid" src="./assets/img/YoungBob.jpg" width="75%" style="padding: 7%" />
            <figcaption class="text-center">A friend sent this to me.  This photo must have been from the early 2000's.
                It looks like we are heading back to the dock from Clearwater Beach.   
                It is in the evening I believe because the anchor light is on.   But I do not see a single gray hair on my head!
            </figcaption>
        </figure>
    </div>

</div>