<div class="card" style="background-color: #44a19e" *ngIf="isVisible"> 
    <div class="card-header">
        <h2>{{album?.title}}</h2>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Song Title</th>
                    <th>Album Name</th>
                    <th>Band</th>
                    <th>Length</th>
                    <th>Written By</th>
                    <th>You Tube Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of selectedSongs">
                    <td style="width: 20%">{{song.title}}</td>
                    <td style="width: 10%">{{song.albumName}}</td>
                    <td style="width: 10%">{{song.band}}</td>
                    <td style="width: 5%">{{song.length}}</td>
                    <td style="width: 35%">{{song.songWriters}}</td>
                    <td style="width: 20%">
                        <a href="{{song.youTubeUrl}}" target="_blank">{{song.title}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
